<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Inc"/>
    	<dependentAssembly>
				<assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="FOXEntities" connectionString="metadata=res://*/Data.FOXModel.csdl|res://*/Data.FOXModel.ssdl|res://*/Data.FOXModel.msl;provider=System.Data.SqlClient;provider connection string='data source=ELSIBDB1;initial catalog=FOX;integrated security=True;application name=&quot;.Net SqlClient Data Provider&quot;;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
